### idea
.idea/
*.iml

### maven
shardis-common/target/
shardis-ui/target/
shardis-api/target/

### node
shardis-ui/etc/
shardis-ui/etc/node/
shardis-ui/etc/node_modules/
shardis-ui/npm-debug.log
### coverage
shardis-ui/coverage/
### docs
shardis-ui/doc/
### dist
shardis-ui/src/main/resources/static/
