<md-content>
  <md-toolbar color="primary">
    <span>{{ name }}</span>
    <span class="fill"></span>
    <a md-button router-active [routerLink]="['/']">Index</a>
    <a md-button router-active [routerLink]="['/home']">Home</a>
    <a md-button router-active [routerLink]="['/playground']">Playground</a>
    <a md-button router-active [routerLink]="['/about']">About</a>
    <button md-button (click)="authService.authenticate()">Login</button>
    <button md-button (click)="authService.logout()">Logout</button>
  </md-toolbar>
  <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>
  <router-outlet></router-outlet>

  <md-content>
    <h2>Authenticated {{authService.isAuthenticated()}}</h2>

    <div style="width: 100%" *ngIf="authService.isAuthenticated()">
      <h3 style="text-align: center">Token will expire {{authService.getTokenExpirationDate() | date:'MM/dd/yy HH:mm:ss'}}</h3>
  <pre>
    {{ authService.getUserData() | json }}
  </pre>
    </div>

    <img class="logo" [src]="angularLogo" alt="">

  </md-content>


  <footer>
    <span id="footerText">{{ name }} by <a [href]="url">Tomasz Kucharzyk</a></span>
  </footer>
</md-content>
