.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

nav li {
  display: inline;
}

main {
  margin-top: 30px;
}


footer {
  border-top: 1px solid #2F6FAD;
  padding-top: 3px;
  margin-top: 30px;
}
