@charset "utf-8";

@import "~@angular2-material/core/style/default-theme";
@import "normalize";
@import "fonts";

footer {
  background: map_get($md-purple,50);
}

html, body{
  height: 100%;
  background: #dedede;
}
